@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}
nav {
    height: 80px;
    display: flex;
}

img {
    width: 100%;
}

p {
    line-height: 1.8;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.blue {
    color: #007CC7 ;
}

.logo{
    width: 220px;
}

ul {
    display: flex;
}

li{
    list-style-type: none;
}
.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: none;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__link--primary {
    border: 2px solid;
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none;
}

#landing {
    background-color: #12232E;
}

header {
    height: calc(100vh - 80px);
}

.header__container {
    padding-top: 100px ;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 56px;
    color: #4DA8DA ;
    margin-bottom: 24px;
    text-align: center;
}

h2 {
    font-size: 32px ;
    margin-bottom: 32px;
    text-align: center;
    color: #EEFBFB  ;
}

h3{
    font-size: 24px;
    margin-bottom: 24px;
    text-align: center;
    color: #EEFBFB   ;
}

button {
    cursor: pointer;
}

button:active {
    transform: translateY(1px);
}
.btn {
    color: #EEFBFB ;
    padding: 12px 24px ;
    font-size: 20px;
    border-radius: 4px;
    border: 2px solid #4DA8DA ;
    background-color: transparent;
}

.btn__nav {
    font-size: 12px;
}

.header__img--wrapper {
    padding: 12px 130px 140px 130px ;
    z-index: 2;
}

.header__img--link {
    height: 100% ;
    max-height: 50vh;
    padding-bottom: 100px;
}

.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/*

HIGHLIGHTS

*/

#highlights {
    position: relative;
    max-width: 100vw;
}
  
#highlights:after,
#highlights:before {
    background: url('assets/wave.png.svg');
    content: "";
    position: absolute;
    width: 101vw;
    height: 12vw;
    left: 0;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
}
  
#highlights:before {
    transform: translateY(-100%);
    top: 1px;
}
  
#highlights:after {
    transform: translateY(100%) rotate(180deg);
    bottom: 1px;
}

.highlight__wrapper {
    display: flex;
}

.section__title {
    color: #4DA8DA;
}

.highlight {
    padding: 0 24px;
    width: calc(100% / 4);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.highlight__para {
    text-align:center;
    max-width: 280px;
}

.highlight__img {
    border: 3px solid #12232E;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;
    margin-bottom: 24px;
}

.img__network {
    width: 75px;
}

.highlight__subtitle {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: center;
    color: #4DA8DA;
}

.highligh__para {
    text-align: left;
    font-weight: 500;
    color: #12232e;
}

/*

what we do and dont

*/

#approach {
    padding-top: 8vw;
    background-color: #12232e;
}

.approach__wrapper {
    display: flex;
}

.approach__subtitle {
    display: flex;
    flex-direction: column;
    width: 50%
}

.subtitle__approach {
    text-align: left;
    margin-bottom: 8px;
    color: #4DA8DA;
}

.subtitle__approach--2 {
    padding-left: 96px;
}

.approach__subtitle--2 {
    width: 50%;
}

.img__x--mark {
    width: 25px;
}

.approach__operate {
    text-align: left;
    font-size: 24px;
    font-weight: 400;
    color: #4DA8DA;
}

.p-tag__approach {
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    color: #EEFBFB;
}

.p-tag__1 {
    padding-bottom: 20px;
}

.dont__list--approach {
    font-size: 24px;
    font-weight: bold;
    padding-left: 148px;
    padding-bottom: 16px;
    text-align: left;
    color: #EEFBFB;
}

.x__mark {
    padding-right: 20px;
    color: #797ad8;
}

/* 

BOOK A MEETING

*/

#booking {
    padding-top: 8vw;
    background-color: #12232E;
    padding-bottom: 150px;
}

.booking__wrapper {
    display: flex;
}

.booking__subtitle {
    display: flex;
    flex-direction: column;
    width: 50%
}

.booking__subtitle {
    width: 50%;
}

.booking__title {
    font-size: 36px;
    color: #4DA8DA;
}

.call__booking {
    font-weight: 500;
    font-size: 18px;
    color: #EEFBFB;
}

.elements__subtitle {
    padding-top: 8px;
    font-size: 20px;
    color: #4DA8DA;
}

.booking__list {
    padding-bottom: 18px;
    text-align: left;
    font-weight: 500;
    color: #EEFBFB;
}

.check__mark {
    width: 25px;
    font-size: 20px;
    color: #797ad8;
}

.booking__img--link {
    width: 356px;
    padding-bottom: 64px;
}

.booking__right--wrapper {
    padding-left: 100px;
    text-align: center;
}

.btn__500px {
    color: transparent;
    border-color: transparent;
}

/* 

footer 

*/

.row {
    text-align: center;
}

footer {
    background-color: #242424;
}
  
.footer__logo {
    display: flex;
}
  
.footer__logo--img {
    width: 160px;
    filter: grayscale(1) invert(1);
}
  
.footer__link, .footer__copyright {
    color: #fff;
}
  
.footer__list {
    margin: 20px 0 24px 0;
}
  
.footer__link {
    padding: 0 8px;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 768px) {
    .logo {
        width: 24%;
    }

    .header__description {
        padding: 30px 24px 0px 24px;
    }

    .h1__header {
        font-size: 48px;
    }

    .h2__subtitle {
        font-size: 28px;
    }

    .h3__subheading {
        font-size: 20px;
    }

    .header__img--link {
        padding: 28px 36px;
    }

    .highlight__subtitle {
        font-size: 22px;
    }

    .highligh__para {
        font-size: 16px;
        font-weight: 700;
    }

    .section__title {
        font-size: 48px;
    }

    .approach__wrapper {
        padding: 12px 32px;
    }

    .subtitle__approach {
        font-size: 28px;
        padding-left: 0px;
    }

    .approach__operate {
        font-size: 20px;
    }

    .p-tag__approach {
        font-size: 18px;
        font-weight: 500;
        text-align: left;
    }

    .dont__list--approach {
        padding-left: 32px;
        padding-top: 16px;
    }

    .booking__wrapper {
        padding-left: 36px;
    }

    .booking__title {
        font-size: 22px;
        text-align: left;
    }

    .call__booking {
        font-size: 16px;
        text-align: left;
    }

    .elements__subtitle {
        font-size: 18px;
        text-align: left;
        padding-top: 12px;
        margin-bottom: 16px;
    }

    .booking__list {
        font-size: 18px;
        font-weight: 500;
    }

    .booking__right--wrapper {
        padding-right: 36px;
        padding-left: 36px;
    }

    .booking__img--wrapper {
        padding-top: 72px;
        padding-bottom: 136px;
    }

}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {

    .logo {
        width: 148px;
    }

    .btn__nav {
        padding: 8px 12px;
    }

    .h1__header {
        font-size: 42px;
    }

    .h2__subtitle {
        font-size: 24px;
    }

    .h3__subheading {
        font-size: 16px;
    }

    .btn {
        padding: 8px 16px ;
        font-weight: 500;
        font-size: 16px;
    }

    .section__title {
        font-size: 32px;
    }

    .img__network {
        width: 60px;
        height: 60px; 
    }

    .highlight__wrapper {
        padding: 0px 18px;
    }

    .highligh__para {
        font-size: 12px;
        font-weight: 700;
        width: 115px;
    }

    .section__title {
        font-size: 36px;
    }

    .subtitle__approach {
        font-size: 24px;
    }

    .subtitle__approach--2 {
        padding-bottom: 34px;
    }

    .approach__operate {
        font-size: 18px;
    }

    .p-tag__approach {
        font-size: 16px;
    }

    .dont__list--approach {
        font-size: 16px;
        padding-top: 12px;
    }

    .free__title {
        font-size: 32px;
    }

    .booking__subtitle {
        width: 95%;
    }

    .call__booking {
        font-size: 16px;
        font-weight: 700;
    }

    .booking__right--wrapper {
        display: none;
    }

    .btn__500px {
        color: white;
        border-color: white;
    }
    
}